@model UsersModel
@*Bloco de código MVC*@
@{
    // Setar o título da página
    ViewData["Title"] = "Usuários";
}
<div class="text-center">
    <h3>Lista de usuários</h3>
    <a type="button" class="btn btn-primary float-end" asp-controller="Users" asp-action="Add">Novo</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nickname</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo de acesso</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nickname</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.AccessType.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>